body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#box {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  width: 15%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 150%;
  border: none;
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: navy;
}

input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#result {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  width: 115%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  border: 2px solid #ccc;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

button {
  font-size: 150%;
  border: none;
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: auto;
  margin: auto;
  display: block;
}
button:hover {
  background-color: navy;
  cursor: pointer;
}
input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
