h1 {
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  font-size: 10em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  text-align: center;
  font-size: 1.5em;
}
button {
  font-size: 1.4em;
  color: white;
  background-color: blue;
  border-radius: 10px;
}
button:hover {
  background-color: lightblue;
  cursor: pointer;
}
