body {
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: -200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#controls {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  width: 40%;
  padding: 20px;
  border-radius: 40px;
  margin-top: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  font-size: 150%;
  border: none;
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: auto;
  margin: auto;
  display: block;
}
button:hover {
  background-color: navy;
  cursor: pointer;
}
#dice-container {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  width: 15%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
